@import url(reset.css);
@import url(colors.css);

main{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    display: flex;

    padding: 2rem;
    gap: .4rem;

    font-weight: 600;
    font-size: 1.8rem;

    background-color: var(--bg-color-output);
    color: var(--font-color-primary);
}

.input_container{
    height: 100%;
    width: 60%;
    background-color: var(--bg-color-input);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_container_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}

.input_container p{
    display: flex;
    gap: .6rem;
}

.input_container_content textarea{
    background-color: var(--bg-color-input);
    padding: .9rem;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    outline: none;
}

.input_container_content textarea::placeholder{
    color: black;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.btn{
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    background-color: var(--bg-color-output);
    color: var(--font-color-primary);
    letter-spacing: 2px;
}

#dcpt_btn{
    background-color: var(--bg-color-btn);
    transition: all 0.2s ease;
}

#cpt_btn{
    transition: all 0.2s ease;
}

#cpt_btn:hover{
    background-color: var(--bg-color-output-hover);
}

#dcpt_btn:hover{
    background-color: var(--bg-color-btn-hover);
}

#dcpt_btn:active{
    background-color: var(--bg-color-btn-active);
}

.output_container{
    height: 100%;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: .8rem;
    gap: 2rem;

    background-color: var(--bg-color-output);
    color: var(--font-color-primary);
}

.output-container_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.output_container p{
    margin-top: .4rem;
    text-align: center;
    color: var(--font-color-secundary);
}

.output_container h2{
    text-align: center;
}

.output_container img{
    width: 40%;
}

#copy_btn, #clean_btn{
    text-align: center;
    border: none;
    background-color: #020202;
}
#copy_btn:hover, #clean_btn:hover{
    background-color: #0f0f0f;
}

#copy_btn:active, #clean_btn:active{
    background-color: #2e2e2e;
}
footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    background-color: var(--bg-color-output);
    color: var(--font-color-primary);
}

.social_medias{
    display: flex;

    gap: 1rem;
    cursor: pointer;
}

.fa-brands {
    color: white;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    main{
        flex-direction: column;
    }
    .input_container{
        height: 50%;
        width: 100%;
        padding: 1rem;
    }

    .input_container textarea{
        height: 20%;
    }

    .buttons{
        gap: 1rem;
    }
    .btn{
        padding: .6rem 1rem .6rem 1rem;
        font-size: .6rem;
        letter-spacing: 1px;
    }
    .output_container{
        height: 50%;
        width: 100%;
    }
}